# Dependencies

In [29]:
import random
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Loading Data

In [30]:
file_path = "./data/train.csv"
train_data_set = pd.read_csv(file_path)

train_data_set['family']


# Randomly sample a fraction of the training dataset
train_data_set = train_data_set.sample(frac=.1, random_state=42)

# Cleaning

Fixing data type of `Date`
One Hot encoding `Family`

In [31]:
train_data_set['date'] = pd.to_datetime(train_data_set['date'])

family = list(train_data_set['family'].unique())
dummy = pd.get_dummies(train_data_set['family'])

merged_df = pd.merge(train_data_set, dummy, left_index=True, right_index=True)
merged_df.drop('id', inplace=True, axis=1)
merged_df.drop('family', inplace=True, axis=1)
merged_df

,date,store_nbr,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
2483653,2016-10-28,46,2576.00000,61,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2761877,2017-04-03,52,0.00000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1217988,2014-11-16,33,357.35400,2,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1231938,2014-11-24,25,5.00000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
528175,2013-10-24,29,0.00000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1966051,2016-01-12,23,59.00000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
741842,2014-02-22,24,5.00000,0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
40327,2013-01-23,40,0.00000,0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2346858,2016-08-12,8,3916.24900,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1900432,2015-12-05,31,133.54199,0,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [32]:
merged_df.describe()

,date,store_nbr,sales,onpromotion
count,300089,300089.000000,300089.000000,300089.000000
mean,2015-04-24 09:10:16.317159168,27.489288,356.479917,2.590335
min,2013-01-01 00:00:00,1.000000,0.000000,0.000000
25%,2014-02-26 00:00:00,14.000000,0.000000,0.000000
50%,2015-04-25 00:00:00,27.000000,11.000000,0.000000
75%,2016-06-20 00:00:00,41.000000,194.631000,0.000000
max,2017-08-15 00:00:00,54.000000,37514.926000,642.000000
std,NaN,15.591233,1098.355347,12.127102

In [33]:
merged_df.isna()

,date,store_nbr,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
2483653,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2761877,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1217988,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1231938,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
528175,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1966051,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
741842,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
40327,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2346858,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1900432,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [34]:
merged_df.isnull()

,date,store_nbr,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
2483653,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2761877,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1217988,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1231938,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
528175,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1966051,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
741842,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
40327,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2346858,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1900432,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [35]:
merged_df.dtypes

date                          datetime64[ns]
store_nbr                              int64
sales                                float64
onpromotion                            int64
AUTOMOTIVE                              bool
BABY CARE                               bool
BEAUTY                                  bool
BEVERAGES                               bool
BOOKS                                   bool
BREAD/BAKERY                            bool
CELEBRATION                             bool
CLEANING                                bool
DAIRY                                   bool
DELI                                    bool
EGGS                                    bool
FROZEN FOODS                            bool
GROCERY I                               bool
GROCERY II                              bool
HARDWARE                                bool
HOME AND KITCHEN I                      bool
HOME AND KITCHEN II                     bool
HOME APPLIANCES                         bool
HOME CARE                               bool
LADIESWEAR                              bool
LAWN AND GARDEN                         bool
LINGERIE                                bool
LIQUOR,WINE,BEER                        bool
MAGAZINES                               bool
MEATS                                   bool
PERSONAL CARE                           bool
PET SUPPLIES                            bool
PLAYERS AND ELECTRONICS                 bool
POULTRY                                 bool
PREPARED FOODS                          bool
PRODUCE                                 bool
SCHOOL AND OFFICE SUPPLIES              bool
SEAFOOD                                 bool
dtype: object

# Modleling

Dependent Variable (y): Sales 

Independent Variable (Features) (X): the rest

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [37]:
merged_df['year'] = merged_df['date'].dt.year
merged_df['month'] = merged_df['date'].dt.month
merged_df['day'] = merged_df['date'].dt.day
merged_df.drop('date', axis=1, inplace=True)
features = list (merged_df.columns)
features.remove('sales')

,store_nbr,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,CLEANING,...,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD,year,month,day
2389010,40,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,2016,9,5
1310433,28,0,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,2015,1,8
1690947,53,0,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,2015,8,9
929602,41,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,2014,6,7
815452,39,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,2014,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912985,42,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,2017,6,27
1195687,8,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,2014,11,3
319548,25,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,2013,6,29
2966279,38,5,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,2017,7,27
24109,35,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,2013,1,14

In [38]:


model = LinearRegression()

print(X_train.dtypes)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print(mse)

store_nbr                     int64
onpromotion                   int64
AUTOMOTIVE                     bool
BABY CARE                      bool
BEAUTY                         bool
BEVERAGES                      bool
BOOKS                          bool
BREAD/BAKERY                   bool
CELEBRATION                    bool
CLEANING                       bool
DAIRY                          bool
DELI                           bool
EGGS                           bool
FROZEN FOODS                   bool
GROCERY I                      bool
GROCERY II                     bool
HARDWARE                       bool
HOME AND KITCHEN I             bool
HOME AND KITCHEN II            bool
HOME APPLIANCES                bool
HOME CARE                      bool
LADIESWEAR                     bool
LAWN AND GARDEN                bool
LINGERIE                       bool
LIQUOR,WINE,BEER               bool
MAGAZINES                      bool
MEATS                          bool
PERSONAL CARE                  bool
PET SUPPLIES                   bool
PLAYERS AND ELECTRONICS        bool
POULTRY                        bool
PREPARED FOODS                 bool
PRODUCE                        bool
SCHOOL AND OFFICE SUPPLIES     bool
SEAFOOD                        bool
year                          int32
month                         int32
day                           int32
dtype: object
558132.4884587901

Current Mean-Square-Error

$$ \sum_{i=1}^{D}(x_i-y_i)^2 $$

In [39]:
print(mse)

558132.4884587901

In [ ]:
print(accuracy)

In [40]:
merged_df.describe()

,store_nbr,sales,onpromotion,year,month,day
count,300089.000000,300089.000000,300089.000000,300089.000000,300089.000000,300089.000000
mean,27.489288,356.479917,2.590335,2014.837508,6.213520,15.625248
std,15.591233,1098.355347,12.127102,1.345802,3.386419,8.796353
min,1.000000,0.000000,0.000000,2013.000000,1.000000,1.000000
25%,14.000000,0.000000,0.000000,2014.000000,3.000000,8.000000
50%,27.000000,11.000000,0.000000,2015.000000,6.000000,16.000000
75%,41.000000,194.631000,0.000000,2016.000000,9.000000,23.000000
max,54.000000,37514.926000,642.000000,2017.000000,12.000000,31.000000

Saving cleaned data

In [41]:
merged_df.to_csv('./data_clean/train.csv', index = False)