# Dependencies

In [14]:
import random
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Loading Data

In [26]:
file_path = "./data/train.csv"
train_data_set = pd.read_csv(file_path)

train_data_set['family']


# Randomly sample a fraction of the training dataset
train_data_set = train_data_set.sample(frac=.1, random_state=42)

# Cleaning

Fixing data type of `Date`
One Hot encoding `Family`

In [27]:
train_data_set['date'] = pd.to_datetime(train_data_set['date'])

family = list(train_data_set['family'].unique())
dummy = pd.get_dummies(train_data_set['family'])

merged_df = pd.merge(train_data_set, dummy, left_index=True, right_index=True)
merged_df.drop('id', inplace=True, axis=1)
merged_df.drop('family', inplace=True, axis=1)
merged_df

,date,store_nbr,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
2483653,2016-10-28,46,2576.000,61,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2761877,2017-04-03,52,0.000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1217988,2014-11-16,33,357.354,2,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1231938,2014-11-24,25,5.000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
528175,2013-10-24,29,0.000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623515,2013-12-16,53,0.000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
869696,2014-05-05,11,0.000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2139740,2016-04-18,46,0.000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20053,2013-01-12,21,0.000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1356489,2015-02-03,2,677.748,0,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [28]:
merged_df.describe()

                                date     store_nbr         sales   onpromotion
count                        2700799  2.700799e+06  2.700799e+06  2.700799e+06
mean   2015-04-24 07:34:42.358441472  2.749647e+01  3.577984e+02  2.600298e+00
min              2013-01-01 00:00:00  1.000000e+00  0.000000e+00  0.000000e+00
25%              2014-02-26 00:00:00  1.400000e+01  0.000000e+00  0.000000e+00
50%              2015-04-24 00:00:00  2.700000e+01  1.100000e+01  0.000000e+00
75%              2016-06-20 00:00:00  4.100000e+01  1.955600e+02  0.000000e+00
max              2017-08-15 00:00:00  5.400000e+01  1.247170e+05  7.410000e+02
std                              NaN  1.558559e+01  1.103017e+03  1.220373e+01

In [ ]:
merged_df.isna()

,date,store_nbr,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28507,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28508,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28509,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28510,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28511,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
merged_df.isnull()

,date,store_nbr,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28507,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28508,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28509,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28510,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28511,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
merged_df.dtypes

date                          datetime64[ns]
store_nbr                              int64
onpromotion                            int64
AUTOMOTIVE                              bool
BABY CARE                               bool
BEAUTY                                  bool
BEVERAGES                               bool
BOOKS                                   bool
BREAD/BAKERY                            bool
CELEBRATION                             bool
CLEANING                                bool
DAIRY                                   bool
DELI                                    bool
EGGS                                    bool
FROZEN FOODS                            bool
GROCERY I                               bool
GROCERY II                              bool
HARDWARE                                bool
HOME AND KITCHEN I                      bool
HOME AND KITCHEN II                     bool
HOME APPLIANCES                         bool
HOME CARE                               bool
LADIESWEAR                              bool
LAWN AND GARDEN                         bool
LINGERIE                                bool
LIQUOR,WINE,BEER                        bool
MAGAZINES                               bool
MEATS                                   bool
PERSONAL CARE                           bool
PET SUPPLIES                            bool
PLAYERS AND ELECTRONICS                 bool
POULTRY                                 bool
PREPARED FOODS                          bool
PRODUCE                                 bool
SCHOOL AND OFFICE SUPPLIES              bool
SEAFOOD                                 bool
dtype: object

# Modleling

Dependent Variable (y): Sales 

Independent Variable (Features) (X): the rest

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
merged_df['year'] = merged_df['date'].dt.year
merged_df['month'] = merged_df['date'].dt.month
merged_df['day'] = merged_df['date'].dt.day
merged_df.drop('date', axis=1, inplace=True)
features = list (merged_df.columns)
features.remove('sales')


X_train, X_test, y_train, y_test = train_test_split(merged_df[features], merged_df['sales'], test_size=0.2, random_state=42)  

X_train

ValueError: list.remove(x): x not in list

In [ ]:


model = LinearRegression()

print(X_train.dtypes)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(mse)

NameError: name 'X_train' is not defined

Current Mean-Square-Error

$$ \sum_{i=1}^{D}(x_i-y_i)^2 $$

In [ ]:
print(mse)

577587.8597124695

In [ ]:
merged_df.describe()

,store_nbr,sales,onpromotion,year,month,day
count,3.000888e+06,3.000888e+06,3.000888e+06,3.000888e+06,3.000888e+06,3.000888e+06
mean,2.750000e+01,3.577757e+02,2.602770e+00,2.014838e+03,6.207838e+00,1.563005e+01
std,1.558579e+01,1.101998e+03,1.221888e+01,1.345518e+00,3.385668e+00,8.794789e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,2.013000e+03,1.000000e+00,1.000000e+00
25%,1.400000e+01,0.000000e+00,0.000000e+00,2.014000e+03,3.000000e+00,8.000000e+00
50%,2.750000e+01,1.100000e+01,0.000000e+00,2.015000e+03,6.000000e+00,1.600000e+01
75%,4.100000e+01,1.958473e+02,0.000000e+00,2.016000e+03,9.000000e+00,2.300000e+01
max,5.400000e+01,1.247170e+05,7.410000e+02,2.017000e+03,1.200000e+01,3.100000e+01

Saving cleaned data

In [ ]:
merged_df.to_csv('./data_clean/train.csv', index = False)